body{
    margin: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    display: flex;
    background-color: salmon;
    font-family: 'Courier New', Courier, monospace;
}

.container{
    background-color: rgba(255, 255, 255, 0.3);
    padding: 25px;
    border-radius: 7px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    width: 90%;
    margin: 100px;
    max-width: 450px;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.heading{
    font-size: 35px;
    font-weight: 700;
}

.input{
    width: 280px;
    height: 35px;
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
    font-size: 15px;
    padding: 0 42px;
    border-color: rgba(255, 255, 255, 0.7) ;
}
.meaning-container{
    display: none;
}